@import '~scss/defines';

a {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.common-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-lightgray;
  padding: 0 8px;

  .button {
    min-width: 40px;
    text-align: center;
  }

  .content {
    font-weight: bold;
  }
}
